vti_encoding:SR|utf8-nl
vti_author:SR|WS01\\William White
vti_modifiedby:SR|WS01\\William White
vti_timelastmodified:TR|03 Jan 2007 17:08:32 -0000
vti_timecreated:TR|16 Jun 2006 15:06:06 -0000
vti_title:SR|Template
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|03 Jan 2007 17:07:48 -0000
vti_shadowfiles:VX|_derived/template1.htm_cmp_copy-of-spring010_vbtn_p.gif _derived/template1.htm_cmp_copy-of-spring010_vbtn.gif _derived/template1.htm_cmp_copy-of-spring010_vbtn_a.gif _derived/template1.htm_cmp_copy-of-spring010_hbtn.gif _derived/template1.htm_cmp_copy-of-spring010_hbtn_a.gif
vti_structuredtm:TR|11 Aug 2006 16:14:34 -0000
vti_syncwith_www.wrwtestsite.info\:80:TR|28 Oct 2006 00:39:16 -0000
vti_donotpublish:BW|true
vti_cacheddtm:TX|03 Jan 2007 17:08:32 -0000
vti_filesize:IR|5696
vti_cachedtitle:SR|Template
vti_cachedbodystyle:SR|<body onload="FP_preloadImgs(/*url*/'../button17.jpg', /*url*/'../button16.jpg', /*url*/'../button14.jpg', /*url*/'../button13.jpg', /*url*/'../buttonB.jpg', /*url*/'../buttonA.jpg')">
vti_cachedlinkinfo:VX|S|../button17.jpg S|../button16.jpg S|../button14.jpg S|../button13.jpg S|../buttonB.jpg S|../buttonA.jpg S|../images/MsSpacer.gif H|../spain.htm S|../button16.jpg S|../button15.jpg S|../button17.jpg S|../button16.jpg S|../button15.jpg H|../france.htm S|../button13.jpg S|../button12.jpg S|../button14.jpg S|../button13.jpg S|../button12.jpg H|../index.html S|../buttonA.jpg S|../button9.jpg S|../buttonB.jpg S|../buttonA.jpg S|../button9.jpg S|../images/MsSpacer.gif
vti_cachedsvcrellinks:VX|FSUS|button17.jpg FSUS|button16.jpg FSUS|button14.jpg FSUS|button13.jpg FSUS|buttonB.jpg FSUS|buttonA.jpg FSUS|images/MsSpacer.gif FHUS|spain.htm FSUS|button16.jpg FSUS|button15.jpg FSUS|button17.jpg FSUS|button16.jpg FSUS|button15.jpg FHUS|france.htm FSUS|button13.jpg FSUS|button12.jpg FSUS|button14.jpg FSUS|button13.jpg FSUS|button12.jpg FHUS|index.html FSUS|buttonA.jpg FSUS|button9.jpg FSUS|buttonB.jpg FSUS|buttonA.jpg FSUS|button9.jpg FSUS|images/MsSpacer.gif
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|true
vti_cachedhasborder:BR|false
vti_botnavbits:SW|S
vti_botnavbarthemes:VR|
vti_botnavbarfeatures:VR|
vti_themeaggregate:SR|default
vti_metatags:VR|HTTP-EQUIV=Content-Language en-gb GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|windows-1252
vti_language:SR|en-gb
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
